
.error {
    color: red;
    font-weight: bold;
 }
 
 table {
    width: 100%;
    border-collapse: collapse;
 }
 
 th {
    background-color: #8f8df4;
    cursor: pointer;
 }

 tr:nth-child(even) {
    background-color: #f9f9f9;
 }
 
 tr:hover {
    background-color: #f0a3a3;
 }
 
 td, th {
    border: 2px solid #dc2a2a;
    padding: 8px;
 }
 
 td {
    text-align: center;
 }
 
 h1 {
   text-align: center;
 }