
.topnav {
    background-color: #8f8df4;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.nav-list {
    display: flex; 
    list-style-type: none;
    margin: 10;
    padding: 0;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    color: rgb(5, 4, 4);
    padding: 14px 16px;
    text-decoration: none;
}

.nav-item a:hover {
    background-color: #f08a8a;
    color: black;
}